@model HomeViewModel
<!-- Background Area Start -->
<section id="slider-container" class="slider-area three">
	@await Html.PartialAsync("Partials/_Background", Model.SliderContents)
</section>
<!-- Background Area End -->
<!-- Notice Start -->
<section class="notice-area two three pt-140 pb-100">
	@await Html.PartialAsync("Partials/_Notice", Model.Notices)
</section>
<!-- Notice End -->
<!-- Courses Area Start -->
<section class="course-area">
	@await Html.PartialAsync("Partials/_Course", Model.Courses)
</section>
<!-- Courses Area End -->
<!-- About Start -->
<div class="about-area pb-135 pt-130 bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="about-content">
					<h2><span>EDUHOME</span> the best education theme for you</h2>
					<p>I must explain to you how all this mistaken idea of denouncing pleure and prsing pain was born and I will give you a complete account of the system, and expound the actual teachings  the master-builder of humanit happiness</p>
					<p class="hidden-sm">I must explain to you how all this mistaken idea of denouncing pleure and prsing pain was born and I will give you a complete account of the system</p>
					<a class="default-btn" href="about.html">buy now</a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="about-img">
					<img src="~/assets/img/about/about.png" alt="about">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- About End -->
<!-- Event Area Start -->
<div class="event-area three text-center pt-100 pb-115">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="section-title">
					<img src="~/assets/img/icon/section.png" alt="section-title">
					<h2>UPCOMMING EVENTS</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="single-event mb-35">
					<div class="event-img">
						<a href="event-details.html">
							<img src="~/assets/img/event/event5.jpg" alt="event">
							<div class="course-hover">
								<i class="fa fa-link"></i>
							</div>
						</a>
						<div class="event-date">
							<h3>20 <span>jun</span></h3>
						</div>
					</div>
					<div class="event-content text-left">
						<h4><a href="event-details.html">ADVANCE PHP WORKSHOP</a></h4>
						<ul>
							<li><span>time:</span> 9.00 AM - 4.45 PM</li>
							<li><span>venue</span> New Yourk City</li>
						</ul>
						<div class="event-content-right">
							<a class="default-btn" href="event-details.html">join now</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="single-event mb-35">
					<div class="event-img">
						<a href="event-details.html">
							<img src="~/assets/img/event/event6.jpg" alt="event">
							<div class="course-hover">
								<i class="fa fa-link"></i>
							</div>
						</a>
						<div class="event-date">
							<h3>18 <span>jun</span></h3>
						</div>
					</div>
					<div class="event-content text-left">
						<h4><a href="event-details.html">learning english history</a></h4>
						<ul>
							<li><span>time:</span> 9.00 AM - 4.45 PM</li>
							<li><span>venue</span> New Yourk City</li>
						</ul>
						<div class="event-content-right">
							<a class="default-btn" href="event-details.html">join now</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 hidden-sm col-xs-12">
				<div class="single-event mb-35">
					<div class="event-img">
						<a href="event-details.html">
							<img src="~/assets/img/event/event7.jpg" alt="event">
							<div class="course-hover">
								<i class="fa fa-link"></i>
							</div>
						</a>
						<div class="event-date">
							<h3>16 <span>jun</span></h3>
						</div>
					</div>
					<div class="event-content text-left">
						<h4><a href="event-details.html">UI &amp; UX DESIGNER MEETUP</a></h4>
						<ul>
							<li><span>time:</span> 9.00 AM - 4.45 PM</li>
							<li><span>venue</span> New Yourk City</li>
						</ul>
						<div class="event-content-right">
							<a class="default-btn" href="event-details.html">join now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area three pt-110 pb-105 text-center">
	<div class="container">
		<div class="row">
			<div class="testimonial-owl owl-theme owl-carousel">
				<div class="col-md-8 col-md-offset-2 col-sm-12">
					<div class="single-testimonial">
						<div class="testimonial-info">
							<div class="testimonial-img">
								<img src="~/assets/img/testimonial/testimonial.jpg" alt="testimonial">
							</div>
							<div class="testimonial-content">
								<p>I must explain to you how all this mistaken idea of denoung pleure and praising pain was born and I will give you a coete account of the system, and expound the actual</p>
								<h4>David Morgan</h4>
								<h5>Student, CSE</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Testimonial Area End -->

<!-- Blog Area Start -->
@await Html.PartialAsync("Partials/_Blog", Model.Blogs)
<!-- Blog Area End -->

<!-- Subscribe Start -->
@await Html.PartialAsync("Partials/_Subscribe")
<!-- Subscribe End -->
