@model List<Event>
	<!-- Event Start -->
<div class="event-area three text-center pt-150 pb-150">
	<div class="container">
		<div class="row">
			@foreach (Event evnt in Model)
			{
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="single-event mb-60">
						<div class="event-img">
							<a href="event-details.html">
								<img src="~/assets/img/event/@evnt.ImagePath" alt="event">
								<div class="course-hover">
									<i class="fa fa-link"></i>
								</div>
							</a>
							<div class="event-date">
								<h3><span></span></h3>
							</div>
						</div>
						<div class="event-content text-left">
							<h4><a href="event-details.html">@evnt.Title</a></h4>
							<ul>
								<li><span>time</span> @evnt.StartTime.Hour / @evnt.EndTime.Hour</li>
								<li><span>venue</span> @evnt.Venue</li>
							</ul>
							<div class="event-content-right">
								<a class="default-btn" href="event-details.html"></a>
							</div>
						</div>
					</div>
				</div>

			}

		</div>
	</div>
</div>
<!-- Event End -->