@model List<Course>
<div class="courses-area pt-150 text-center">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="section-title">
					<img src="~/assets/img/icon/section.png" alt="section-title">
					<h2>COURSES WE OFFER</h2>
				</div>
			</div>
		</div>
		<div class="row">

			@foreach (Course course in Model)
			{
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="single-course">
						<div class="course-img">
							<a href="course-details.html">
								<img src="~/assets/img/course/@course.ImagePath" alt="course">
								<div class="course-hover">
									<i class="fa fa-link"></i>
								</div>
							</a>
						</div>
						<div class="course-content">
							<h3><a  asp-action="Detail" asp-controller="Course" asp-route-id="@course.Id">@course.Title</a></h3>
							<p>@course.Description</p>
							<a class="default-btn" asp-action="Detail" asp-controller="Course" asp-route-id="@course.Id">read more</a>
						</div>
					</div>
				</div>
			}

		</div>
	</div>
</div>